<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO" name="Norconex HTTP Collector">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %c{1} - %msg%n}</pattern>
        <!-- Add -Dlog4j.skipJansi=false to your JVM properties for ANSI
           - highlighting on Windows. The above pattern without highlighting is:
           - 
           -     %d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n
           -->
      </PatternLayout>
    </Console>
    <!-- TODO: check for a format that displays logger name up to X characters, showing truncations as ... -->      
  </Appenders>
  <Loggers>
    <Logger name="com.norconex.collector.http" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.collector.core" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.importer" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.committer" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.commons.lang" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.jef" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Events Types -->
    <Logger name="CollectorEvent" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="JefEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    

    <!-- Specific Events -->
    <Logger name="CrawlerEvent.DOCUMENT_COMMITTED_UPSERT" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_COMMITTED_DELETE" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_ROBOTS_TXT" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_ROBOTS_META_NOINDEX" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_NONCANONICAL" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_REDIRECTED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_FILTER" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_UNMODIFIED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_PREMATURE" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_NOTFOUND" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_BAD_STATUS" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_TOO_DEEP" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.URLS_EXTRACTED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_FETCHED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="ImporterEvent.IMPORTER_HANDLER_BEGIN" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent.IMPORTER_HANDLER_END" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent.IMPORTER_HANDLER_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent.IMPORTER_PARSER_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
