/target
/.settings
/mytests
/work
/progress
/logs
/minimunCrawlFiles
/.classpath
/.project
/.myeclipse/examples-output/
/.myeclipse/
/examples-output/
/debug.log
/.factorypath
/.dbeaver/
/littleproxy_cert
/littleproxy_keystore.jks
