/* Copyright 2010-2013 Norconex Inc.
 * 
 * This file is part of Norconex JEF.
 * 
 * Norconex JEF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Norconex JEF is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Norconex JEF. If not, see <http://www.gnu.org/licenses/>.
 */
 
#banner {
  min-width: 990px;
  border-width: 1px 1px 0px 1px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
}


#breadcrumbs .breadcrumb {
  border-width: 0px 1px 1px 1px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
}

h1, h2, h3, h4 {
  color: #D78E24;
}
