/* Copyright 2010-2014 Norconex Inc.
 * 
 * This file is part of Norconex HTTP Collector.
 * 
 * Norconex HTTP Collector is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Norconex HTTP Collector is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Norconex HTTP Collector. If not, see <http://www.gnu.org/licenses/>.
 */

.color-highlight {
  color: #225e9b;
}
#advertisement {
  text-align: center;
  padding-top: 4px;
  background-color: black;
  max-height: 95px;
}

#currentStableVersionSection {
  border-top: 1px solid #bbbbbb;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  font-size: 16px;
  color: #bbbbbb;
}
#currentStableVersion {
  text-align: center;
  margin-top: 15px;
  font-size: 42px;
  color: #bbbbbb;
  font-weight: bold;
}

#nx-invisible-head {
  visibility: hidden;
  line-height: 0px;
  margin: 0px 0px 0px 0px;
}


.nx-news {
  width:400px;
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  margin: -15px 0px 5px 10px;
  line-height: 1.4em;
}
.nx-news-date {
  font-size: 8px;
  xxfont-weight: bold;
}
.nx-news img {
  padding-right: 5px;
  vertical-align: middle;
}
.nx-news a.nx-download-link {
  font-weight: bold;
}

.nx-heading {
  font-size: 41px;
  color: #000000;
}
.nx-heading2 {
  line-height: 42px;
  font-size: 33.75px;
  color: #000000;
}


.nx-subheading {
  font-size: 24px;
  color: #000000;
}


/* -------------- FIX/MODIF TO reflow-skin.css ------------------------- */
.project-norconex-collector-http h1[id]:before,
.project-norconex-collector-http h2[id]:before,
.project-norconex-collector-http h3[id]:before,
.project-norconex-collector-http h4[id]:before,
.project-norconex-collector-http h5[id]:before,
.project-norconex-collector-http h6[id]:before,
.project-norconex-collector-http a[name]:before {
    display:block; 
    content:""; 
    height:0px; 
    margin:-0px 0 0; 
    xxheight:90px; 
    xxmargin:-90px 0 0;
}

.breadcrumb {
  height: 1.5em;
}
 
body.project-norconex-collector-http {
  padding-top: 42px;
  padding-bottom: 20px;
}

.project-norconex-collector-http header.jumbotron.subhead #banner.row {
  margin-top: 5px;
}
.project-norconex-collector-http header.jumbotron.subhead ul.breadcrumb {
  height: 0px;
  background-color: #ffffff;
  border-width: 0px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  font-size: 13px;
}

#banner.row div.pull-left {
  margin-top: 20px;
  xxmargin-top: 10px;
}
