/* Copyright 2010-2013 Norconex Inc.
 * 
 * This file is part of Norconex JEF.
 * 
 * Norconex JEF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Norconex JEF is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Norconex JEF. If not, see <http://www.gnu.org/licenses/>.
 */

.color-highlight {
  color: #225e9b;
}
#advertisement {
  text-align: center;
}
#currentStableVersionSection {
  border-top: 1px solid #bbbbbb;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  font-size: 16px;
  color: #bbbbbb;
}
#currentStableVersion {
  text-align: center;
  margin-top: 15px;
  font-size: 42px;
  color: #bbbbbb;
  font-weight: bold;
}

/* -------------- FIX/MODIF TO reflow-skin.css ------------------------- */
.project-norconex-collector-http h1[id]:before,
.project-norconex-collector-http h2[id]:before,
.project-norconex-collector-http h3[id]:before,
.project-norconex-collector-http h4[id]:before,
.project-norconex-collector-http h5[id]:before,
.project-norconex-collector-http h6[id]:before,
.project-norconex-collector-http a[name]:before {
    display:block; 
    content:""; 
    height:0px; 
    margin:-0px 0 0; 
  
}

.breadcrumb {
  height: 1.5em;
}
 
body.project-norconex-collector-http {
  padding-top: 60px;
  padding-bottom: 20px;
}

.project-norconex-collector-http header.jumbotron.subhead ul.breadcrumb {
  height: 0px;
  background-color: #ffffff;
  border-width: 0px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  font-size: 13px;
}

#banner.row div.pull-left {
  margin-top: 20px;
}
