<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO" name="Norconex HTTP Collector">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n</pattern>
        <!-- Use the following pattern instead to enable highlighting
           - in generated logs.
           - 
           -     %d{HH:mm:ss.SSS} [%t] %highlight{%-5level %c{1} - %msg%n}
           -
           - Add -Dlog4j.skipJansi=false to your JVM properties for ANSI
           - highlighting on Windows.
           -->
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>

    <!-- 
      NOTE: Most events are typically fired as INFO, but setting the logger 
      levels here at DEBUG sometimes will log extra information.
      -->

    <!-- Overall crawler progress -->

    <Logger name="com.norconex.collector.core.crawler.CrawlProgressLogger" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Events Types -->

    <Logger name="CollectorEvent" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Specific Events -->

    <Logger name="CollectorEvent.COLLECTOR_RUN_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_RUN_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_STOP_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_STOP_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_CLEAN_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_CLEAN_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_STORE_EXPORT_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_STORE_EXPORT_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_STORE_IMPORT_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_STORE_IMPORT_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CollectorEvent.COLLECTOR_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="CrawlerEvent.CRAWLER_INIT_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_INIT_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_RUN_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_RUN_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_RUN_THREAD_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_RUN_THREAD_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_STOP_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_STOP_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_CLEAN_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.CRAWLER_CLEAN_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>


    <Logger name="CrawlerEvent.REJECTED_ROBOTS_TXT" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_ROBOTS_META_NOINDEX" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_NONCANONICAL" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_REDIRECTED" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_FILTER" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_UNMODIFIED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_PREMATURE" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_NOTFOUND" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_BAD_STATUS" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.REJECTED_TOO_DEEP" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.URLS_EXTRACTED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_FETCHED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_QUEUED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_PROCESSED" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_COMMITTED_UPSERT" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CrawlerEvent.DOCUMENT_COMMITTED_DELETE" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="ImporterEvent.IMPORTER_HANDLER_BEGIN" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent.IMPORTER_HANDLER_END" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent.IMPORTER_HANDLER_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ImporterEvent.IMPORTER_PARSER_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="CommitterEvent.COMMITTER_ACCEPT_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_ACCEPT_NO" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_ACCEPT_YES" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_BATCH_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_BATCH_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_BATCH_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_CLEAN_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_CLEAN_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_CLEAN_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_CLOSE_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_CLOSE_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_CLOSE_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_DELETE_BEGIN" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_DELETE_END" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_DELETE_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_INIT_BEGIN" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_INIT_END" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_INIT_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_UPSERT_BEGIN" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_UPSERT_END" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="CommitterEvent.COMMITTER_UPSERT_ERROR" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Others -->

    <Logger name="com.norconex.collector.http" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.collector.core" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.importer" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.committer" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.norconex.commons.lang" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.eclipse.jetty" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
