#*
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex HTTP Collector.
 
Norconex HTTP Collector is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex HTTP Collector is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex HTTP Collector. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($releasePath = "http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http")
<head><title>Download</title><meta name="Author" content="Norconex Inc." /></head> 


<h2>&nbsp;</h2>

<p class="alert alert-info" style="font-size: 30px; padding: 15px;">
  Step 1: Install the Collector
</p>

<h2>&nbsp;</h2>

<p class="alert" style="font-size: 30px; padding: 15px;">
  Step 2: Install a Committer
</p>


$h2 Binaries

**[Download Latest Release ${currentStableVersion}]($releasePath/${currentStableVersion}/norconex-collector-http-${currentStableVersion}.zip)**

**Release Overview:**

  * Now supports NTLM authentication.  Experiental support added for SPNEGO and
    Kerberos were also 
  * Document checksums are added to each document metadata.
  * Refactoring of HTTPClient creation with many new configuration options added
    (connection timeout, charset, maximum redirects, and several more).
  * Can optionnally trust all SSL certificate now.
  * Integrates new features of 
    [Norconex Importer 1.2.0](http://www.norconex.com/product/importer/changes-report.html#a1.2.0)
    such as support for WordPerfect documents, new filter and transformers, etc.
  * Integrates new features of 
    [Norconex Committer 1.2.0](http://www.norconex.com/product/committer/changes-report.html#a1.2.0)
    such as defining multiple committers, retrying upon commit failure, etc.
  * Other third-party libray upgrades.
  * [View full list of changes]((changes-report.html))

**Older Releases**

  * [1.1.1]($releasePath/1.1.1/norconex-collector-http-1.1.1.zip)<small>
    [[Release Notes](changes-report.html#a1.1.1)]</small>
  * [1.1.0]($releasePath/1.1.0/norconex-collector-http-1.1.0.zip)<small>
    [[Release Notes](changes-report.html#a1.1.0)]</small>
  * [1.0.2]($releasePath/1.0.2/norconex-collector-http-1.0.2.zip)<small>
    [[Release Notes](changes-report.html#a1.0.2)]</small>
  * [1.0.1]($releasePath/1.0.1/norconex-collector-http-1.0.1.zip)<small>
    [[Release Notes](changes-report.html#a1.0.1)]</small>
  * [1.0.0]($releasePath/1.0.0/norconex-collector-http-1.0.0.zip)<small>
    [[Release Notes](changes-report.html#a1.0.0)]</small>


$h3 Don't skip this:

<p class="well">
In addition to install the Norconex HTTP Collector, you also need a <b>Norconex 
Committer</b> implementation matching your target data repository 
(e.g. search engine).  Without one, you will only be able to save your
collected files or data on the file system.<br /><br />

<a href="http://www.norconex.com/product/committer#list" class="btn btn-warning">Give me a Committer</a> 
</p>


    
$h2 Source
  
Source code can be obtained on GitHub: 
(https://github.com/Norconex/collector-http).
  
Maven users can add the following to their pom.xml:
  
    <repository>  
      <id>norconex-release-repo</id>  
      <name>Norconex Release Repository</name>  
      <url>http://norconex.s3.amazonaws.com/repo/release</url>  
      <releases>  
        <enabled>true</enabled>  
      </releases>  
      <snapshots>  
        <enabled>false</enabled>  
      </snapshots>  
    </repository>  

    <dependency>
      <groupId>com.norconex.collectors</groupId>
      <artifactId>norconex-collector-http</artifactId>
      <version>${currentStableVersion}</version>
    </dependency>

    <!-- At your own risk: -->
    <repository>  
      <id>norconex-snapshot-repo</id>  
      <name>Norconex Snapshot Repository</name>  
      <url>http://norconex.s3.amazonaws.com/repo/snapshot</url>  
      <releases>  
        <enabled>false</enabled>  
      </releases>  
      <snapshots>  
        <enabled>true</enabled>  
      </snapshots>  
    </repository>  
  