#*
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex HTTP Collector.
 
Norconex HTTP Collector is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex HTTP Collector is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex HTTP Collector. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Download</title><meta name="Author" content="Norconex Inc." /></head> 

<p class="nx-news">

  <img src="./images/attention_16.png"/>
  Also download a <b>Committer</b> to store your collected data.

</p>

********************************************************************************

$h2 Latest Release

**[Download Release ${currentStableVersion}](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http/${currentStableVersion}/norconex-collector-http-${currentStableVersion}.zip)**

Some updates this release contains:

  * New optional Mongo URL Database implementation.
  * New optional IURLExtractor implementation based on Apache Tika HTMLParser.
  * New filter for filtering URLs having a specified
    number of segments.

[View detailed Release Notes](changes-report.html) for all releases.


Older releases: 
[1.1.1](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http/1.1.1/norconex-collector-http-1.1.1.zip),
[1.1.0](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http/1.1.0/norconex-collector-http-1.1.0.zip),
[1.0.2](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http/1.0.2/norconex-collector-http-1.0.2.zip),
[1.0.1](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http/1.0.1/norconex-collector-http-1.0.1.zip),
[1.0.0](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-collector-http/1.0.0/norconex-collector-http-1.0.0.zip)


$h2 Committer Implementations

  * [Solr/Lucidworks](http://www.norconex.com/product/committer-solr/index.html) 
  * [Elasticsearch](http://www.norconex.com/product/committer-elasticsearch/index.html) 
  * [HP/Autonomy IDOL](http://www.norconex.com/product/committer-idol/index.html) 
  * More to come...

If you use the HTTP Collector without a committer matching your target data 
repository, you will only be able to save the collected content on the 
file system using the 
[FileSystemCommitter](http://www.norconex.com/product/committer/apidocs/com/norconex/committer/impl/FileSystemCommitter.html).
With your download of HTTP Collector, also download the appropriate 
[Committer](http://www.norconex.com/product/committer)
implementation from the above list,
create your own,
or [contact Norconex](mailto:info@norconex.com) to have yours created for you.
  

********************************************************************************
  
<a name="source"></a>
  
$h2 Source
  
Source code can be obtained on GitHub: 
(https://github.com/Norconex/collector-http).
  
Maven users can add the following to their pom.xml:
  
    <repository>  
      <id>norconex-release-repo</id>  
      <name>Norconex Release Repository</name>  
      <url>http://norconex.s3.amazonaws.com/repo/release</url>  
      <releases>  
        <enabled>true</enabled>  
      </releases>  
      <snapshots>  
        <enabled>false</enabled>  
      </snapshots>  
    </repository>  

    <dependency>
      <groupId>com.norconex.collectors</groupId>
      <artifactId>norconex-collector-http</artifactId>
      <version>${currentStableVersion}</version>
    </dependency>

    <!-- At your own risk: -->
    <repository>  
      <id>norconex-snapshot-repo</id>  
      <name>Norconex Snapshot Repository</name>  
      <url>http://norconex.s3.amazonaws.com/repo/snapshot</url>  
      <releases>  
        <enabled>false</enabled>  
      </releases>  
      <snapshots>  
        <enabled>true</enabled>  
      </snapshots>  
    </repository>  
  