#*
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex HTTP Collector.
 
Norconex HTTP Collector is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex HTTP Collector is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex HTTP Collector. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 


<p class="nx-news">

  <img src="./images/news_16.png"/>
  <span class="nx-news-date">2014-01-11&nbsp;&nbsp;</span>
  <a href="download.html">Norconex HTTP Collector 1.2.0</a> released.

  <br />
  <img src="./images/news_16.png"/>
  <span class="nx-news-date">2014-01-11&nbsp;&nbsp;</span>
  Website redesign.

</p>

*********************************************************

$h2 ![Powerful](./images/powerful_24.png "Powerful") Powerful

Tested on many sites with millions of pages.  Crawl what you want, 
where you want.  Manipulate extracted content at will. 
[Get it now](./download.html)

$h2 ![Open Source](./images/github_24.png "Open Source") Open Source

Licensed under GNU General Public License v3.0 and
maintained on [GitHub](https://github.com/Norconex/collector-http).  
Community and commercial support available.

$h2 ![Easy to Run](./images/running_24.png "Easy to Run") Easy to Run

Fully documentated and works out-of-the-box with sample configurations you
can modify to suit your needs. [Get started!](./usage.html)

$h2 ![Flexible](./images/flexiblebar_24.png "Flexible") Flexible

Integrates with virtually any search engines (or else).
Easily add new functionalities, or replace existing ones.
[See for yourself](./configuration.html)

$h2 ![Cross-Platform](./images/cross_24.png "Cross-Platform") Cross-Platform

100% Java-based.  Runs anywhere.  Test on a operating system (e.g. Windows) and 
deploy to another one (e.g. Linux).

$h2 ![Feature-Rich](./images/checkmark_24.png "Feature-Rich") Feature-Rich

From supporting robot rules to detecting document deletions, you will be 
pleased with its long [list of features](./features.html).


#*

*********************************************************

<p style="margin-top:40px; float:left; width:50%; text-align: center; font-style:italic; color:#999999; font-size:14px;">

“It is definitely cleaner code than I’ve seen in other open source projects.
 And very well thought out design. Well done.”   
–- Greg George, Principal Software Engineer

</p>
<p style="margin-top:40px; float:right; width:50%; text-align: center; font-style:italic; color:#999999; font-size:14px;">

“Thanks for your awesome code. I learned a lot from it.”   
–- Derek

</p>
*#

