#*
 Copyright 2010-2014 Norconex Inc.
 
 This file is part of Norconex HTTP Collector.
 
Norconex HTTP Collector is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex HTTP Collector is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex HTTP Collector. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Support</title><meta name="Author" content="Norconex Inc." /></head> 

$h2 Community Support

Community support is available on 
[GitHub](https://github.com/norconex/collector-http/issues).  You are encouraged
to report any issues or questions you may have there.

You are also encouraged to read the [FAQs/HOWTOs](./faq.html) before 
asking questions.
  
$h2 Commercial Support

Norconex also offers commercial support for all its open-source projects.
Please [contact Norconex](mailto:info@norconex.com)
for information about obtaining commercial support.
  
