            ------
            Home
            ------
            Norconex Inc.
            ------

Welcome to Norconex Importer

  Norconex Importer is a Java library and command-line application meant to 
  "parse" and "extract" content out of a computer file as plain text, 
  whatever its format (HTML, PDF, Word, etc).  In addition, it allows you to 
  perform any manipulation on the extracted text before importing/using it in
  your own service or application.

  A typical but not limited usage is to "import" crawled content into a 
  search engine (indexing pipeline).   We invite you to consider Norconex HTTP
  Collector for this purpose (which relies on the Norconex Importer).

  Norconex Importer relies heavily on 
  {{{http://tika.apache.org/}Apache Tika}} for 
  its parsing capabilities (see its 
  {{{http://tika.apache.org/1.3/formats.html}supported formats}}). 
  You can establish your own parsing strategy for the 
  content-types of your choice.  

  The current version of {{{http://importer.norconex.com}Norconex Importer}} is
  ${project.version}
  
  Latest {{{./apidocs/index.html}API documentation}}.
  
  <<SITE IN HEAVY DEVELOPMENT.  PLEASE IGNORE.  DO NOT RELY>>
  
  Commercial Support
  
  License
  
  Talk about flexibility of configuration by pointing to Configuration Javadoc?
  
  Add Google adds?
  
  asdf
  
  

