~~ Copyright 2010-2013 Norconex Inc.
~~ 
~~ This file is part of Norconex Committer.
~~ 
~~ Norconex Committer is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ Norconex Committer is distributed in the hope that it will be useful, 
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of 
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU General Public License
~~ along with Norconex Committer. If not, see <http://www.gnu.org/licenses/>.
            ------
            Download
            ------
            Norconex Inc.
            ------

%{snippet|file=src/main/resources/adsense.txt|verbatim=false}

Download

* Committer Core Binaries

  Latest stable release
   
  * {{{http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-committer/${currentStableVersion}/norconex-committer-${currentStableVersion}.zip} ${currentStableVersion}}}

  []

  Older releases:
  
  * {{{http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-committer/1.0.0/norconex-committer-1.0.0.zip} 1.0.0}}

  []    

* Committer Implementations

  The core committer library only provides you with a file system committer.
  The followingi is a list of Committer implementations you can freely use.
  
  * {{{http://www.norconex.com/product/committer-solr/index.html}Solr Committer}} 

  * {{{http://www.norconex.com/product/committer-elasticsearch/index.html}Elasticsearch Committer}} 
  
  * More to come...
  
  []
  
* Source
  
  Source code can be obtained on GitHub: 
  {{https://github.com/Norconex/collectors/tree/master/norconex-committer}}.
  
  Maven users can add the following to their pom.xml:
  
+-------------------------------+
 <repository>  
   <id>norconex-release-repo</id>  
   <name>Norconex Release Repository</name>  
   <url>http://norconex.s3.amazonaws.com/repo/release</url>  
   <releases>  
     <enabled>true</enabled>  
   </releases>  
   <snapshots>  
     <enabled>false</enabled>  
   </snapshots>  
 </repository>  

 <dependency>
   <groupId>com.norconex.collectors</groupId>
   <artifactId>norconex-committer</artifactId>
   <version>${currentStableVersion}</version>
 </dependency>

 <!-- At your own risk: -->
 <repository>  
   <id>norconex-snapshot-repo</id>  
   <name>Norconex Snapshot Repository</name>  
   <url>http://norconex.s3.amazonaws.com/repo/snapshot</url>  
   <releases>  
     <enabled>false</enabled>  
   </releases>  
   <snapshots>  
     <enabled>true</enabled>  
   </snapshots>  
 </repository>  
+-------------------------------+
  