            ------
            Home
            ------
            Norconex Inc.
            ------

Welcome to Norconex Committer

  The Norconex Committer is a Java library meant to be used as part of bigger
  projects, such as Norconex HTTP Collector. It is responsible for "committing"
  or "applying" the result of a document extraction or transformation. 
  In the case of Norconex HTTP Collector, it specifies what to do with the files
  that were successfully crawled. Taken on its own, this is not an "executable"
  product.

  Concrete implementations for the {{{TODO}ICommitter}} interface must be 
  provided.  Based on your target data source, Norconex may already provide 
  existing implementations. For instance, Norconex has a Solr Committer 
  available for Solr users.

  One concrete implementation is provided, mostly for troubleshooting purposes: 
  {{{TODO}FileSystemCommitter}}


  The current version of 
  {{{http://committer.norconex.com}Norconex Committer}} is 
  ${project.version}
  
  Latest {{{./apidocs/index.html}Javadoc}}.

* Configuration

  Typically, when XML configuration is made available for committers, it is 
  of that form, where "class" must be replace with your concrete implementation
  of {{{TODO}com.norconex.committer.ICommitter}}: 

+-------------------------------+
<committer class="..." />
+-------------------------------+
  
* Extend the Committer

  To create your own feature implementations, create a new Java project in your
  favourite IDE. Add to your classpath all the files contained in the "lib" 
  folder of the Importer installation.