~~ Copyright 2010-2013 Norconex Inc.
~~ 
~~ This file is part of Norconex Committer.
~~ 
~~ Norconex Committer is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ Norconex Committer is distributed in the hope that it will be useful, 
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of 
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU General Public License
~~ along with Norconex Committer. If not, see <http://www.gnu.org/licenses/>.
            ------
            Home
            ------
            Norconex Inc.
            ------

Welcome to Norconex Committer

  The Norconex Committer is a Java library responsible for "committing"
  or "applying" the result of a document extraction or transformation
  to a target data source.  It is used by the 
  {{{http://www.norconex.com/product/collector-http}Norconex HTTP Collector}}
  to handle files successfully crawled. Taken on its own, this is not an 
  "executable" product (but may one day become).

  Concrete implementations for the 
  {{{./apidocs/com/norconex/committer/ICommitter.html}ICommitter}} interface 
  must be provided.  Based on your target data source, Norconex may already 
  provide existing implementations for your data sources or can create one. 
  For instance, Norconex has a 
  {{{./download.html#Committer_Implementations}Solr Committer}} 
  available for Solr users.

  One concrete implementation is provided, mostly for troubleshooting purposes: 
  {{{./apidocs/com/norconex/committer/FileSystemCommitter.html}FileSystemCommitter}}


  The current stable version of 
  {{{http://www.norconex.com/product/committer}Norconex Committer}} is
  ${currentStableVersion} ({{{./download.html}download}}). 
  
  Latest {{{./apidocs/index.html}Javadoc}}.

* Configuration

  Typically, when XML configuration is made available for committers, it is 
  of that form, where "class" must be replace with your concrete implementation
  of {{{./apidocs/com/norconex/committer/ICommitter.html}com.norconex.committer.ICommitter}}: 

+-------------------------------+
<committer class="..." />
+-------------------------------+
  
* Extend the Committer

  Maven users can easily add the necessary {{{./download.html}pom.xml}} 
  information to have all dependencies automatically resolved.  

  For others, create a new Java project in your
  favourite IDE. Add to your classpath all the files contained in the "lib" 
  folder of the Committer installation.
  