<!--
 Copyright 2013 Norconex Inc.
 
 This file is part of Norconex Elasticsearch Committer.
 
 Norconex Elasticsearch Committer is free software: you can redistribute it 
 and/or modify it under the terms of the GNU General Public License as 
 published by the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Elasticsearch Committer is distributed in the hope that it 
 will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Elasticsearch Committer. If not, 
 see <http://www.gnu.org/licenses/>.
-->
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

Welcome to Norconex Elasticsearch Committer
==================================

The **Elasticsearch Committer** library provides an implementation of 
[Norconex Committer](http://www.norconex.com/product/committer) targeting
[Elasticsearch](http://www.elasticsearch.org/).

The current <!--stable--> version of Norconex Elasticsearch Committer is
${currentStableVersion} ([download](./download.html)). 

Latest [API documentation](./apidocs/index.html).

Installation
------------

This committer is a library that you must include in another product classpath
(along with committer dependencies).  For use with a Norconex Collector, 
follow these simple steps:

  * ([Download](./download.html)) the latest release of Elasticsearch Committer

  * Unzip the downloaded file somewhere.

  * Copy the content of the `<committer_unzipped_folder>/lib` folder
    to `<collector_install_folder>/lib`.
    
Configuration
-------------

When used with a Norconex Collector, you can use the following XML to configure
the Elasticsearch Committer:

    <committer class="com.norconex.committer.elasticsearch.ElasticsearchCommitter">
      <indexName>...</indexName>
	  <typeName>...</typeName>
	  <clusterName>...</clusterName>
    </committer>

Tag descriptions:

| Tag                | Description   |
| ------------------ | ------------- |
| `indexName` | Index name to use when committing documents to Elasticsearch |
| `typeName` | Type name to use when committing documents to Elasticsearch |
| `clusterName` | Elasticsearch cluster name. Optionnally set this if you have more then one cluster |
