<!---
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex JEF.
 
 Norconex JEF is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex JEF is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex JEF. If not, see <http://www.gnu.org/licenses/>.
-->
<head><title>Download</title><meta name="Author" content="Norconex Inc." /></head> 

#parse("adsense.html")

Download
=========

Latest stable release
   
  * [${currentStableVersion}](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-committer-solr/${currentStableVersion}/norconex-committer-solr-${currentStableVersion}.zip)

Older releases:
  
  * [1.0.0](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-committer-solr/1.0.0/norconex-committer-solr-1.0.0.zip)

Source
------
 
Source code can be obtained on GitHub: <https://github.com/Norconex/collectors/tree/master/norconex-committer-solr>.
  
Maven users can add the following to their pom.xml:
  
    <repository>  
        <id>norconex-release-repo</id>  
        <name>Norconex Release Repository</name>  
        <url>http://norconex.s3.amazonaws.com/repo/release</url>  
        <releases>  
            <enabled>true</enabled>  
        </releases>  
        <snapshots>  
            <enabled>false</enabled>  
        </snapshots>  
    </repository>  

    <dependency>
        <groupId>com.norconex.collectors</groupId>
        <artifactId>norconex-committer-solr</artifactId>
        <version>${currentStableVersion}</version>
    </dependency>

    <!-- At your own risk: -->
    <repository>  
        <id>norconex-snapshot-repo</id>  
        <name>Norconex Snapshot Repository</name>  
        <url>http://norconex.s3.amazonaws.com/repo/snapshot</url>  
        <releases>  
            <enabled>false</enabled>  
        </releases>  
        <snapshots>  
            <enabled>true</enabled>  
        </snapshots>  
    </repository>  
  